/* 

    ========================================================================================================

    Emmie by Nexure Dashboard Stylesheet
    Version 25.12.14
    Support Link: https://nexuresolutions.com/contact
    Website: https://nexuresolutions.com
    Last Edited: Sun Dec 14 2025 at 06:57:52 AM Eastern Time
    
    Copyright Statement: Do not copy this website, if the code is found to be duplicated, reproduced,
    or copied we will fine you a minimum of $250,000 and criminal charges may be pressed.

    CopyOurCodeWeWillSendYouToJesus(C)2025ThisIsOurHardWork.

    Dear rule breakers, questioners, straight-A students who skipped class: We want you.
    https://nexuresolutions.com/careers.

    =======================================================================================================

*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* ====================== Global Styles ===================== */

body {
    margin:0;
    padding:0;
    background-image: url("/Assets/img/SystemImages/Backgrounds/DashboardLines.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-left: 1px solid #ddd;
}

*::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 50px;
}

.text-bold  {
    font-weight: bold;
}

.font-bold {
    font-weight :700 !important;
}

.font-24px {
    font-size: 24px;
}

.text-uppercase {
    text-transform: uppercase;
}

.profile-link {
    color: #000;
}

.profile-link:hover {
    color: #000;
}

.informationIcon {
    height:30px;
    width:30px;
}

.customer-quick-actions-img {
    height: 40px;
    width: 40px;
    border: 1px solid #eee;
    padding: 4px;
    border-radius: 6px;
    margin-bottom: 6%;
}

.account-status-badge {
    border-radius: 999px;
    padding: 4px 12px;
    font-size: 12px;
    margin-top: 0;
}

.account-status-badge.not-rounded {
    border-radius: 6px;
    padding: 4px 12px;
    font-size: 12px;
    margin-top: 0;
    margin-left: 10px;
}

.account-status-badge.passive {
    border: 1px solid #B8B8B8;
    background-color: #F1F1F1;
    color: #646464;
}

.account-status-badge.green {
    border: 1px solid #6ED741;
    background-color: #CEFFB9;
    color: #204510;
}

.account-status-badge.yellow {
    border: 1px solid #D5D94A;
    background-color: #FDFFBE;
    color: #585A1A;
}

.account-status-badge.red,
.account-status-badge.red-restricted {
    border: 1px solid #FF9090;
    background-color: #FFE1E1;
    color: #AD3434;
}

.account-status-badge.red-dark {
    border: 1px solid #FE5D5D;
    background-color: #FFD4D4;
    color: #901818;
}

.border-right {
    border-right:1px solid #cacaca;
}

.quick-actions-link {
    color:#000;
    transition: all 0.3s ease-in-out;
}

.quick-actions-link:hover {
    color: #414141;
}

.padding-10px {
    padding:10px !important;
}

.background-grey-100 p {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 12px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Mona Sans", sans-serif !important;
}

.border-netural {
    border-bottom: 3px solid #ddd;
}

.border-selected {
    border-bottom: 3px solid #60b3f7;
}

/* ====================== Container Styles ===================== */

.container, 
.nexure-container, 
.nexure-nav-container {
    width:100% !important;
    max-width: 95% !important;
}

/* ====================== Grid Styles ===================== */

.offset-grid {
    grid-template-columns: 1.3fr .7fr;
    display: grid;
    align-items: start; /* Important: prevents stretching */
}

.account-grid-modified {
    -ms-grid-columns: 1.5fr .5fr;
    grid-template-columns: 1.5fr .5fr;
}

.grid-sidebar {
    -ms-grid-columns: .35fr 1.6fr;
    grid-template-columns: .35fr 1.6fr;
}

.no-column-gap {
    grid-column-gap: 0px;
}

/* ====================== Header Styles ===================== */

.nexure-header {
    position: sticky !important;
    top:0 !important;
    left:0;
    width:100%;
    background-color: #ffffff !important;
    padding-top:0px !important;
    padding-bottom:0px !important;
}

.search-container {
    padding:0 !important;
    margin:0 !important;
}

.searchbar {
    margin:0 !important;
    background-color: #fff !important;
    border: 1px solid #ddd !important;
    padding:8px 24px !important;
    border-radius: 999px !important;
}

.searchbar:hover,
.searchbar:focus {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}

.background-darker-300 {
    background-color: #f1f1f1 !important;
    padding-top:8px;
    padding-bottom:8px;
}

.toggle-container {
    padding: 8px 8px !important;
}

.profile-image {
    border-radius: 999px;
    border:1px solid #ddd;
    height:30px;
    width:30px;
}

.border-top-grey-300 {
    border-top: 1px solid #ddd;
    background-color: #f8f8f9 !important;
    padding-top:12px;
    padding-bottom:10px;
}

.nav-links a {
    padding: 6px 16px;
}

.nav-links a.active {
    background: linear-gradient(135deg, #8bc2f0, #618fb5);
    border: 1px solid #8bc2f0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
    border-radius: 999px;
}

.nav-links a.active:hover {
    background: linear-gradient(135deg, #76aedd, #507a9b);
    border: 1px solid #618fb5;
}

.more {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ddd;
    min-width: 230px;
    z-index: 1;
    list-style: none;
    padding: 8px;
    top: 25px;
    left: 0% !important;
    border-radius:6px;
    z-index: 999;
}

.dropdown li {
    display: block;
    border: 1px solid transparent !important;
}

.dropdown .nav-links {
    border-radius: 4px !important;
    padding: 4px 14px !important;
    margin-bottom: 4px;
}

.dropdown a {
    border-radius: 4px;
}

.dropdown a:hover {
    background-color: transparent !important;
}

.dropdown li:hover {
    border: 1px solid #ddd !important;
}

.more.active .dropdown {
    display: block;
}

.nav-links-clickable,
.nav-links-clickable:hover {
    background-color: transparent !important;
    backdrop-filter: none !important;
}

/* ====================== Section Styles ===================== */

.section.dashboard {
    padding-top:2%;
    padding-bottom: 2%;
}

.nexure-card {
    padding:20px !important;
    border-radius: 10px;
    transform: none !important;
    background: none !important;
    background-color: #f2f3f4 !important;
}

.card-header {
    padding-bottom:5px;
    border-bottom: 1px solid #ddd !important;
}

.client-business-andor-profile-logo {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: fill;
}

.icon-size-formatted {
    height: 45px;
    width: 45px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.card-body {
    padding-top:20px;
    padding-bottom:20px;
}

.card-footer {
    padding-top:5px;
    border-top: 1px solid #ddd !important;
}

.nexure-card:hover {
    border: 1px solid #ddd !important;
}

.background-grey-100 {
    background-color:#dddcdc;
    padding:10px;
    border-radius: 6px;
}

.restricted-notice {
    background-color:#e9e7e7;
    padding:10px;
    border-radius: 6px;
    color: rgb(252, 79, 79);
}

.nexure-pricing-bar {
    box-shadow: none;
}

/* ====================== Table Styles ===================== */

.nexure-table-plugin td,
.nexure-table-plugin th {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.nexure-table-plugin td {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.nexure-table-plugin th {
    border-top:1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #e7e7e7;
    font-weight: 600 !important;
}

.nexure-table-plugin tbody tr {
    font-size: 12px !important;
}

/* =================== Nexure Dashboard Modals =================== */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 14% auto;
    padding: 20px;
    border: 1px solid #eee;
    width: 50%;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content div button {
    padding:8px 12px !important;
}

.modal-content div a {
    padding: 8px 12px !important;
}

.modal-content .nexure-button.primary {
    background-color: #000;
    border-color: #000;
    color:#fff;
}

.modal-content .nexure-button.primary:hover {
    background-color: #303030;
    border-color: #303030;
    color:#fff;
}


.dark-mode .nexure-button.primary,
.nexure-button.primary {
    background: linear-gradient(135deg, #8bc2f0, #618fb5);
    border: 1px solid #8bc2f0;
    color: #000;
    transition: all 0.3s ease;
}

.dark-mode .nexure-button.primary:hover,
.nexure-button.primary:hover {
    background: linear-gradient(135deg, #76aedd, #507a9b);
    border: 1px solid #618fb5;
    color: #000;
}

.nexure-button.primary.red {
    background: linear-gradient(135deg, #ffbbbb, #f79292);
    border: 1px solid #f79292;
    color: #000;
    transition: all 0.3s ease;
}

.nexure-button.primary.red:hover {
    background: linear-gradient(135deg, #f79292, #e06a6a);
    border: 1px solid #e06a6a;
    color: #000;
}


.nexure-button.secondary {
    background: linear-gradient(135deg, #fff, #ddd);
    border: 1px solid #ddd;
    color: #000;
    margin-left: 20px;
}

.nexure-button.secondary:hover {
    background: linear-gradient(135deg, #eee, #ddd);
    border: 1px solid #ddd;
    color: #000
}

.nexure-textbox.cardinfo {
    padding:10px; 
    width:100%; 
    background-color:#F8F8F8; 
    border-radius:8px; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; 
    border:1px solid #ddd; 
    margin-top:0%; 
    margin-bottom:2%;
}

/* ====================== Nexure Risk Score Styles ===================== */

.score-header h2 {
    font-size: 16px;
    color: #333;
}

.score-value {
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.score-label {
    padding: 4px 12px;
    font-size: 12px;
    border-radius: 6px;
    font-weight: bold;
    width:unset;
    margin-left:10px;
}

.score-label.green {
    background: #CEFFB9;
    color: #204510;
    border: 1px solid #6ED741;
}

.score-label.yellow {
    background: #FDFFBE;
    color: #585A1A;
    border: 1px solid #D5D94A;
}

.score-label.orange {
    background: #f8e9d7;
    color: #975920;
    border: 1px solid #c88023;
}

.score-label.red {
    background: #FFE1E1;
    color: #AD3434;
    border: 1px solid #FF9090;
}

.score-bar {
    position: relative;
    height: 8px;
    background: linear-gradient(to right, #f44336 0%, #ff9800 33%, #ffeb3b 66%, #4caf50 100%);
    border-radius: 10px;
    margin-bottom: 10px;
}

.score-indicator {
    position: absolute;
    top: -12px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid black;
    z-index: 3;
}

.score-range {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 4px;
}

.score-delta {
    align-self: flex-end;
    font-size: 13px;
    font-weight: 500;
    color: #999;
}

.nexure-emmie-sidebar ul {
    padding:0;
    list-style:none;
}

.sidebar-item {
    padding:10px;
    border-radius: 6px;
    margin-bottom: 10px;
    background-color: #ddd;
    border:1px solid #eee;
    color: #000;
    transition: all 0.3s ease-in-out;
}

.sidebar-item:hover {
    background-color: #eee;
    border:1px solid #eee;
}

.sidebar-item a {
    color: #000;
}

/* ====================== Dark Mode Styles ===================== */

body.dark-mode {
    background-color:rgb(0, 0, 0) !important;
    background-image: url("/Assets/img/SystemImages/Backgrounds/DashboardLinesDark.webp");
}

.dark-mode *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.dark-mode *::-webkit-scrollbar-track {
    background: #1b1b1b;
    border-left: 1px solid #222;
}

.dark-mode *::-webkit-scrollbar-thumb {
    background-color: #353535;
    border-radius: 50px;
}

.dark-mode .nexure-logo {
    background-color: transparent !important;
}

.dark-mode .nexure-header {
    background-color: #000000 !important;
}

.dark-mode .background-darker-300 {
    background-color: #0a0a0a !important;
}

.dark-mode .border-top-grey-300 {
    border-top: 1px solid #222 !important;
    background-color: #121212 !important;
}

.dark-mode .nexure-table-plugin th {
    background-color: #333 !important;
    border-bottom: 1px solid #444 !important;
    border-top:1px solid #444 !important;
}

.dark-mode .nexure-table-plugin tbody tr,
.dark-mode .nexure-table-plugin tbody tr td {
    background-color: #161616 !important;
}

.dark-mode .nexure-table-plugin {
    border:0;
}

.dark-mode .background-grey-100 {
    background-color: #333;
    padding:10px;
    border-radius: 6px;
}

.dark-mode .customer-quick-actions-img {
    border: 1px solid #222;
}

.dark-mode .border-right {
    border-right:1px solid #313131;
}

.dark-mode .nexure-card {
    background: none !important;
    background-color: #161616 !important;
}

.dark-mode .card-header {
    border-bottom: 1px solid #222 !important;
}

.dark-mode .card-footer {
    border-top: 1px solid #222 !important;
}

.dark-mode .nexure-card:hover {
    border: 1px solid #333 !important;
}

.dark-mode .restricted-notice {
    background-color:#222;
    padding:10px;
    border-radius: 6px;
    color: rgb(252, 79, 79);
}

.dark-mode .modal-content {
    background-color: #1b1b1b;
    border: 1px solid #222;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dark-mode .quick-actions-link {
    color:#dbdbdb;
}

.dark-mode .quick-actions-link:hover {
    color: #fff;
}

.dark-mode .profile-link {
    color: #dbdbdb;
}

.dark-mode .profile-link:hover {
    color: #dbdbdb;
}

.dark-mode .score-indicator {
    position: absolute;
    top: -12px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #dbdbdb;
    z-index: 3;
}

.dark-mode .searchbar {
    background-color: #222 !important;
    border: 1px solid #444 !important;
}

.dark-mode .searchbar:hover,
.dark-mode .searchbar:focus {
    border: 1px solid #8fc8f7 !important;
}

.dark-mode .nav-links a.active {
    color: black !important;
}

.dark-mode .nexure-textbox.cardinfo {
    padding:10px; 
    width:100%; 
    background-color:#222; 
    border-radius:8px; 
    box-shadow: none !important;
    border:1px solid #444; 
    margin-top:0%; 
    margin-bottom:2%;
}

.dark-mode .nexure-textbox.grey-400 {
    background-color: #222 !important;
}

.dark-mode .icon-size-formatted {
    border: 1px solid #222;
}

.dark-mode .nav-links-clickable,
.dark-mode .nav-links-clickable:hover {
    color: #DBDBDB !important;
    background: transparent !important;
    backdrop-filter: none !important;
}

.dark-mode .dropdown {
    background-color: #080808;
    border: 1px solid #222;
}

.dark-mode .dropdown .nav-links:hover {
    border: 1px solid #333 !important;
}

.dark-mode .nexure-button.secondary {
    background: linear-gradient(135deg, #050505, #222);
    border: 1px solid #222;
    color: #dbdbdb;
}

.dark-mode .nexure-button.secondary:hover {
    background: linear-gradient(135deg, #111, #333);
    border: 1px solid #333;
    color: #dbdbdb
}

.dark-mode .filter-white-on-dark {
    filter: invert(1) !important;
}

.dark-mode .sidebar-item {
    background-color: #131313;
    border:1px solid #333;
    color: #dbdbdb;
}

.dark-mode .sidebar-item:hover {
    background-color: #333;
    border:1px solid #333;
}

.dark-mode .sidebar-item a {
    color: #dbdbdb;
}

.dark-mode .brand-link {
    color: #60b3f7 !important;
}

.dark-mode .brand-link:hover {
    color: #1584e0 !important;
}

.dark-mode .border-netural {
    border-bottom: 3px solid #333;
}

.dark-mode .border-selected {
    border-bottom: 3px solid #60b3f7;
}

/* ====================== Mobile Styles ===================== */

@media (max-width:1000px) {

    .section.dashboard {
        margin-top:10px !important;
        margin-bottom:40px !important;
    }

    .nexure-grid,
    .nexure-two-grid,
    .nexure-four-grid,
    .nexure-five-grid,
    .nexure-six-grid,
    .nexure-seven-grid{
        grid-template-columns: 1fr !important;
        row-gap: 20px !important;
    }

    .nexure-three-grid {
        grid-template-columns: 1fr 1fr !important;
        row-gap: 20px !important;
    }

    .greeting-mobile {
        margin-bottom: 10px !important;
        background-color: #c5edff;
        padding:30px;
        border-radius: 10px;
        text-align: center;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .nexure-table-plugin tbody tr,
    .nexure-table-plugin tbody tr td,
    .nexure-table-plugin tr  {
        margin-bottom: 30px !important;
        padding: 0px !important;
        display: block !important;
        width: 100% !important;
        max-width: 100% !important;
        border-bottom: 0 !important;
    }

    .nexure-table-plugin tbody tr {
        padding-left: 20px !important;
        padding-top:20px !important;
        padding-bottom: 20px !important;
        border-radius: 10px !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    .nexure-table-plugin {
        width:95% !important;
    }

    .nexure-table-container {
        margin-top: -10px !important
    }

    .border-top-grey-300 {
        margin-top: 0px;
    }

    .search-container {
        display: none !important;
    }
}

@media (max-width:999px) {
    .nexure-three-grid {
        grid-template-columns: 1fr !important;
        row-gap: 20px !important;
    }

    .title-cards {
        margin-bottom: 4%;
    }
}